[submodule "app_libs/printf"]
	path = app_libs/printf
	url = https://github.com/mpaland/printf.git
[submodule "app_libs/FreeRTOS-Kernel"]
	path = app_libs/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "app_libs/lwip"]
	path = app_libs/lwip
	url = https://github.com/lwip-tcpip/lwip.git
